#header_section{
  /* height: 32rem; */
  position: relative;
  top: -3.5rem;
  overflow: hidden;
  display: flex;
  min-height: 100%;
  /* min-height: 100vh; */
  min-width: 100%;

}

.header{
  position: relative;
  gap: 4.5rem;
  display: flex;
  flex-direction: column;
}


.first{
  /* font-size: 2.9rem; */
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  /* text-overflow: inherit;   */
  
   /*so text wraps around itself if the screen size decreases or the this property helps to adjust the text according to the screen size*/
  /* margin-left: 4.5rem; */
  /* margin-right: 4.5rem; */
}

.first_after{
  display: none;
}

.less400{
  display: none;
}



.makeitbig{
  font-style: italic; 
  text-align: center;
}

.workout_pdfs{
  position: relative;
  font-size: 4rem;
}

/*--------------- card ---------------*/



  .flip-card-container_home{
    min-width: 100%;
    
    position: relative;
    
    justify-content: center;
    
   

  }

  .flip-card_home{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-left: 7rem;
    margin-right: 7rem;
  }
 
  
  /* Position the front and back side */
  .flip-card-back_home{
    position: relative;
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #000000;  */
    color: #fff;
    /* opacity: 0.8; */
    /* gap: 1rem; */
    /* border: 0.05rem solid rgb(284, 284, 284,284); */
    /* box-shadow: 0px 0px 2px rgb(284, 284, 284,284); */
    box-shadow: 0px 0px 9px rgb(284, 284, 284,284);
    padding: 1rem;
}
/* .flip-card-back_home:hover {
    box-shadow: 0px 0px 9px rgb(284, 284, 284,284);
    transition: .4s ease-in-out;
    filter: grayscale(90%);
    transform: translateY(-6px);
    
  } */
  
  
  .flip-card-back_home p {
    text-align: center;
    /* margin: 1rem; */

    line-height: 1.5rem;
    /* display: block; */
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 0.5rem;
  }













  /* .flip-card-container_last {
    display: flex;
    min-width: 100%;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
  }

 
  

  .flip-card-back_last{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: 80%;
    border-radius: 1rem;
    justify-content: center;
   
    color: #fff;
  
    box-shadow: 0px 0px 9px rgb(284, 284, 284,284);
}
  
  .flip-card-back_last p {
    margin-top: 0.2rem;
    text-align: center;
    line-height: 1.5rem;
 
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
  } */

  .get_started_btn{
    margin-top: 0.4rem;
  }







  
  /*--------------------------------------------*/













.best_fitness_club{
    margin-top: 2.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 4rem;
    width: fit-content;
    padding: 10px 13px;
    text-transform: uppercase; 
    color: #fff;

    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.95;
}







.beast_mode{
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 1rem;
  
}

.on{
  font-weight: bold;
  color: #ffffff;
  text-shadow:0px 0px 10px rgb(255, 255, 255);
 

}

.off{
  opacity: 0.5;
}



.results{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn1{
  background-color: #ffffff;
  width: 5.5rem;
  height: 2.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  color: black;
  /*to align text in center*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
}



/*it is very important as when we hover on the button space and not on the text inside button and when we click on that space then we should reach at the bottom page but we don't thats why we have to give some padding in the text so that when we click on the space inside button then also it gets clicked and we reach at the end*/
.btn1 span{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.btn1:hover{
  cursor: pointer;
  color: #fff;
  /* background-color: transparent; */
  /* border: 4px solid #000; */
  background-color: rgb(43, 41, 41);
  
}

.glow{
 
  color:rgb(255, 255, 255);

  animation-name:glow;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

@keyframes glow{
  from{text-shadow:0px 0px 5px #fff,0px 0px 5px #ffffff;}
 
  to{text-shadow:0px 0px 20px #fff,0px 0px 20px #ffffff;}
} 















@media only screen and (max-width:1000px){
  #header_section{
    top: -4rem;
  }
  .header{
    gap: 2.8rem;
  }
  .flip-card_home{
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
  .first{
    font-size: 3.5vw;
  }
  .first_text1{
    display: none;
  }
  .first_after{
    display: flex;
    justify-content: center;
    font-size: 3.5vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
  }
  .about_nutrition{
    display: none;
  }
  .koma{
    display: none;
  }
}
@media only screen and (max-width:900px){
  .first{
    font-size: 3.7vw;
  }
}
@media only screen and (max-width:800px){
  .flip-card_home{
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .first{
    font-size: 4vw;
  }
}
@media only screen and (max-width:700px){
  .flip-card-back_home p{
    line-height: normal;
    font-size: 0.96rem;
  }
  .first{
    font-size: 4.5vw;
  }
}
@media only screen and (max-width:600px){
  #header_section{
    top: -4.5rem;
  }
  .flip-card-back_home p{
    line-height: normal;
    font-size: 0.95rem;
  }
  .first{
    font-size: 5vw;
  }
  .flip-card_home{
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media only screen and (max-width:500px){
  #header_section{
    top: -4.7rem;
  }
  .header{
    gap: 3rem;
  }
  .flip-card-back_home p{
    line-height: normal;
    font-size: 0.9rem;
    margin: 0.5rem;
  }
  .first{
    font-size: 5.3vw;
  }
  .flip-card_home{
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media only screen and (max-width:400px){
  #header_section{
    top: -4.9rem;
  }
  .header{
    gap: 2.5rem;
  }
  .flip-card-back_home p{
    line-height: normal;
    font-size: 0.85rem;
    margin: 0.3rem;
  }
  .first{
    font-size: 5.9vw;
  }
  .flip-card_home{
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }
}
@media only screen and (max-width:300px){
  #header_section{
    top: -4.9rem;
  }
  .header{
    gap: 2rem;
  }
  .flip-card-back_home p{
    line-height: normal;
    font-size: 0.77rem;
    margin: 0.3rem;
  }
  .first{
    font-size: 5.9vw;
  }
  .flip-card_home{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .more400{
    display: none;
  }
  .less400{
    display: flex;
    justify-content: center;
  }
}







