.programs{
    /* display: flex;
    flex-direction: column; */
    /* gap: 2rem; */
    /* padding: 0 6rem; */
    /* height: 28.6rem; */
    /* min-height: 100%; */
    /* min-height: 100vh; */
    min-width: 100%;
    /* flex-wrap: wrap; */
    z-index: 1;
    /* padding: 3rem; */
    top: -4rem;
    position: relative;
    overflow: hidden;
    
}


.programs:hover{
    box-shadow: 0px 0px 9px rgb(284, 284, 284,284);
    transition: .4s ease-in-out;
    filter: grayscale(90%);
}


/*creating overlay*/
.programs{
  content: "";
  min-width: 100%;
  min-height: 100%;
  background-color: #000000;
  opacity: 0.8;
}






.programs1{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 3rem;
    font-weight: bold;
    /* font-size: 3rem; */
    position: relative;
    top: 2rem;
    font-size: 3vw;
    justify-content: center;  /*vertically at the center*/
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
}

.small500{
  display: none;
}

.flip-card-container1 {
    min-width: 100%;
    /* height: fit-content; */
    
    /* perspective: 1000px; */
    /* top: 10.5rem; */
    margin-top: 6rem;
    /* right: 0.5rem; */
    position: relative;
    /* overflow: hidden;   */
    /* display: flex; */
    /* display: grid; */
    
    gap: 2rem;
    justify-content: center;
    

  }

  .flip-card1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100%;
    height: 100%; */
    /* display: flex;
    flex-direction: row-reverse; */
    gap: 2rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    margin-bottom: 4.5rem;
  }
 
  
  /* Position the front and back side */
  .flip-card-back1 {
    position: relative;
    /* width: 100%;
    height: 100%; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #000000; 
    color: #fff;
    /* opacity: 0.8; */
    gap: 1rem;
    padding: 0.4rem;
    border: 0.05rem solid rgb(284, 284, 284,284);
    /* box-shadow: 0px 0px 2px rgb(284, 284, 284,284); */
}
.flip-card-back1:hover {
    /* background-color: rgb(255, 255, 255);
    color: #000000; */
    box-shadow: 0px 0px 9px rgb(284, 284, 284,284);
    transition: .4s ease-in-out;
    filter: grayscale(90%);
    transform: translateY(-6px);
    
  }
  
  
  .flip-card-back1 p {
    text-align: center;
    margin: 0.5rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    /* margin-top: 0.5rem; */
  }
  

  .heading_programs{
    filter: brightness(1);
  }















  




  .about_programs {
    min-width: 100%;
    /* height: fit-content; */
    
    /* perspective: 1000px; */
    /* top: 10.5rem; */
    margin-top: 7rem;
    right: 0.5rem;
    position: relative;
    /* overflow: hidden;   */
    /* display: flex; */
    /* display: grid; */
   
    gap: 2rem;
    justify-content: center;

  }

  .about_programs1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    /* width: 100%;
    height: 100%; */
    /* display: flex;
    flex-direction: row-reverse; */
    gap: 2rem;
  }
 
  
  /* Position the front and back side */
  .about_programs_inside {
    position: relative;
    /* width: 100%;
    height: 100%; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #000000; 
    color: #fff;
    opacity: 0.75;
    gap: 1rem;
}
.about_programs_inside:hover {
    /* background-color: rgb(255, 255, 255);
    color: #000000; */
    box-shadow: 0px 0px 9px rgb(284, 284, 284,284);
    transition: .4s ease-in-out;
    filter: grayscale(90%);
    transform: translateY(-6px);
    
  }
  
  
  .about_programs_inside p {
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  

  .about_heading_programs{
    filter: brightness(1);
  }





  .small300p{
    display: none;
  }










  @media only screen and (max-width:1000px){
    .programs1{
      font-size: 3.5vw;
      gap: 1.9rem;
    }
    .small500{
      display: none;
    }
  }
  @media only screen and (max-width:900px){
    .programs1{
      font-size: 3.7vw;
    }
  }
  @media only screen and (max-width:800px){
    .programs1{
      font-size: 3.8vw;
      gap: 2rem;
    }
    .flip-card-container1 {
      margin-top: 5rem;
    }
    .flip-card1 {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
  @media only screen and (max-width:700px){
    .programs{
      top: -4rem;
    }
    .programs1{
      font-size: 3.8vw;
      gap: 1.7rem;
    }
    .flip-card-container1 {
      margin-top: 5rem;
    }
    .flip-card1 {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin-left: 3.7rem;
      margin-right: 3.7rem;
    }
  }
  @media only screen and (max-width:600px){
    .programs{
      top: -5rem;
    }
    .programs1{
      font-size: 3.9vw;
      gap: 1.3rem;
    }
    .flip-card-container1 {
      margin-top: 5rem;
    }
    .flip-card1 {
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-left: 3.5rem;
      margin-right: 3.5rem;
    }
    .noedit{
      margin-top: -0.2rem;
    }
  }
  @media only screen and (max-width:500px){
    .programs1{
      font-size: 4.7vw;
      gap: 1rem;
    }
    .flip-card-container1 {
      margin-top: 5rem;
    }
    .flip-card1 {
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-left: 3.2rem;
      margin-right: 3.2rem;
    }
    .big500{
      display: none;
    }
    .small500{
      display: flex;
    }

  }
  @media only screen and (max-width:400px){
    .programs{
      top: -6rem;
    }
    .programs1{
      font-size: 5.6vw;
      gap: 0.8rem;
    }
    .flip-card-container1 {
      margin-top: 5rem;
    }
    .flip-card1 {
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
    .big500{
      display: none;
    }
    .small500{
      display: flex;
    }

  }
  @media only screen and (max-width:300px){
    .programs1{
      font-size: 6.8vw;
      gap: 1rem;
    }
    .flip-card-container1 {
      margin-top: 4.5rem;
    }
    .flip-card1 {
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    .flip-card-back1 p {
      text-align: center;
      margin: 0.8rem;
      line-height: 1.3rem;
      display: block;
      font-size: 0.9rem;
      font-style: italic;
      font-weight: bold;
      margin-top: 0.5rem;
    }
    .big500{
      display: none;
    }
    .small500{
      display: none;
    }
    .small300p{
      display: flex;
    }
    

  }



















  












